body{
	font-family: sans-serif;
    background-repeat: repeat;
    background: url(../img/care.jpg);
    text-align: center;

}

nav{
	position: fixed;
	width: 100%;
	background:#220;
	margin: 0 ;
	text-align: center;
	opacity: 0.8;
	margin-top: -14%;


}
nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
nav ul li{
	display: inline-block;
	padding: 20px;
	cursor: pointer;
}
nav ul li a{
	text-decoration: none;
	color: white;
	display: block;
	font-size: 20px;

}
nav ul li:hover{
	background:grey;
}
nav ul ul {
	position: absolute;
	width: 200px;
	background: #220;
	margin: 20px;
	margin-left:-20px;
	text-align: left;
	display:none;
}
nav ul ul li{
display: block;
}
nav ul li:hover > ul{
	display: block;
}


}
.nav ul li a{
	font-size: 30px;

	
}
.content{
	margin: 250px;

	border: 10px ;
	border-radius: 20px;
	background: grey;
	color: brown;



}
.content p{
	font-size: 30px;
}
.b1{
	float: left;
    
	border-radius:  100px;
}
